<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 20px;
  color: white;
  font-weight: bold;
  float: center;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
</head>
<body>

<h2>Alert Messages</h2>

<p>Click on the "x" symbol to close the alert message.</p>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Danger!</strong> Emergency pull
</div>

</body>
</html>

<div id = "navbar"> 

<ul style = "list-style-type: none;">

<li><a href="intro.html">Introduction</a></li>

 <li><a href="{{ url_for('Open Web Cam') }}">Open Web Cam</a></li>

</ul>

</div>

<h1 style = "z-index:-1;top:60px;padding:50px;position:relative;color:rgb(255, 255, 255);">AI based Natural Disaster Analysis</h1>


<div class="container">

</p>

</div>

<!--<img class="my-image" src = "{{url_for('static', filename='img/docs.jpg')}}"/>-->

<div class="img">
      <div class="imageColumn">
      <div class="img">
      <h1>AI based Natural disaster Analysis</h1>
      <p><img src ="Emergency pull.jpg"width="1600" height="800"></p>
      </div>


</script>

</body>

</html>
